html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;

    margin: 0;

    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    align-items: center;

    background-color: #2c2235;
    color: #ffffff;
    border-bottom: 3px solid #9f6eea;

    padding: 10px 20px;
    margin-bottom: 40px;

    text-transform: uppercase;
}

.name {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 1;

    font-size: 18pt;
    font-weight: 500;
}

.nav-links {
    display: flex;
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: space-around;
}

.nav-link {
    color: #ffffff;

    font-size: 12pt;
    text-decoration: none;
}

.nav-link:hover {
    color: #9f6eea;
}

.header {
    color: #453e4e;

    font-size: 26pt;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}