html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;

    margin: 0;

    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 2;

    background-color: #2c2235; /*TODO: Test diff opacities */
    color: #ffffff;
    border-bottom: 3px solid #9f6eea;

    padding: 10px 20px;

    text-transform: uppercase;
}

.name {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 1;

    font-size: 18pt;
    font-weight: 500;
}

.nav-links {
    display: flex;
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: space-around;

    list-style: none;
}

.nav-link {
    color: #ffffff;
    
    font-size: 12pt;
    text-decoration: none;
}

.nav-link:hover {
    color: #9f6eea;
}

.body {
    padding-left: 8%;
    padding-right: 8%;
}

.page-section {
    position: relative;
    width: 100%;
}

.page-section::after {
    content: ' ';

    position: absolute;
    left: calc(50% - 125px);
    width: 250px;

    border-bottom: 3px solid #9f6eea
}

.header {
    color: #453e4e;
    
    font-size: 26pt;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;

    text-shadow: -1px 1px #9f6eea;
    
    padding-bottom: 40px;
    padding-top: 40px;
}

.page-section#about {
    margin-top: 80px;
}

.about-wrap, .projects-wrap, .experiences-wrap, .contact-wrap{
    display: flex;
    margin-bottom: 40px;
}

/* ---------------- About Section ----------------------*/

.about-wrap {
    justify-content: space-between;
    align-items: center;
}

.traits {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.trait {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;

    margin-bottom: 10px;
    margin-top: 10px;
}

.hex-wrap{
    text-align: center;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.hexagon{
    background-color: #9f6eea;
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
}

.hexagon::before{
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
}

.hexagon::after{
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
}

.trait-icon {
    position: absolute;
    top: calc(50% - 22.5px);
    left: 0;
    right: 0;

    z-index: 1;

    font-size: 34pt;
    color: #ffffff;
}

.trait-title {
    color: #453e4e;
    font-size: 18pt;
    text-align: center;
    font-weight: 700;

    margin-bottom: 5px;
}

.trait-desc {
    width: 250px;
    text-align: center;
}

.profile-wrap {
    display: flex;
}

.profile-picture {
    height: 250px;
    width: 250px;
    margin-right: 20px;

    background-image: url(images/wolf.jpg);
    background-position: center center;
    background-size: cover;

    box-shadow: -3px 3px #9f6eea;

}

.blurb-title {
    color: #453e4e;
    font-size: 18pt;
    font-weight: 700;
}

.blurb {
    margin-top: 10px;

    text-align: justify;

    width: 350px;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 40%;
    flex-shrink: 0;
}

.skill {
    display: flex;
    flex-basis: 11%;

    background-color: #f8f5fa;

    margin-bottom: 15px;
}

.skill-name {
    flex-basis: 20%;
    flex-shrink: 0;

    background-color: #9f6eea;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    padding: 5px;
}

.skill-percentage{
    display: flex;
    flex-basis: 80%;
    justify-content: center;
    align-items: center;
}

.skill-percentage span {
    flex-basis: 100%;

    text-align: right;

    padding-right: 10px;
}

.skill-fill-bar {
    flex-basis: 50%;
    flex-shrink: 0;

    background-color: #7245b6;
}

#skill-java { flex-basis: 70%; }
#skill-python { flex-basis: 60%; }
#skill-html { flex-basis: 70%; }
#skill-css { flex-basis: 60%; }
#skill-js { flex-basis: 50%; }
#skill-react { flex-basis: 40%; }
#skill-node { flex-basis: 40%; }
#skill-ui { flex-basis: 40%; }
#skill-ps { flex-basis: 30%; }

/* ---------------- Project Section ----------------------*/

.projects-wrap {
    flex-direction: column;
}

.project-card {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;    

    background-color: #f8f5fa;

    box-shadow: -3px 3px #9f6eea;
}

.project-thumbnail {
    flex-basis: 25%;
    flex-shrink: 0;

    height: 270px;

    background-image: url(images/lion.jpg);
    background-position: center center;
    background-size: cover;
}

.project-desc-wrap {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-shrink: 1;

    margin: 10px;
}

.project-name {
    color: #453e4e;
    font-size: 20pt;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.project-description {
    margin: 10px;
    flex-basis: 100%;
}

.project-links {}

.project-skills {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex-grow: 0;
    justify-content: space-evenly;
    align-items: center;

    margin: 10px;

    list-style: none;
}

.project-skill {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.project-skill[skill="java"] {background-image: url(images/java.png);}
.project-skill[skill="html"] {background-image: url(images/html.png);}
.project-skill[skill="css"] {background-image: url(images/css.png);}

/* ---------------- Experiences Section ----------------------*/

.experiences-wrap {
    display: flex;

    justify-content: space-between;
}

.experience-card{
    display: flex;

    background-color: #f8f5fa;
    box-shadow: -3px 3px #9f6eea;

    width: 500px;
}

.experience-thumbnail {
    padding: 10px;

    width: 75px;
    height: 75px;
}

.exp-desc-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience-name {
    font-size: 16pt;
    font-weight: 600;
}

.experience-date {
    font-size: 10pt;
    color: #453e4e;
}

/* ---------------- Contact Section ----------------------*/

.contact-form {
    display: flex;
    flex-direction: column;

    background-color: #f8f5fa;
    box-shadow: -3px 3px #9f6eea;

    padding: 20px;
    margin: 0 auto 40px auto;

    width: 500px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-bottom: 5px;

    background-color: #7245b6;
    color: #ffffff;

    border: 0;
    outline: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #ffffff;
}

.contact-form textarea {
    resize: vertical;
}

.button-wrap {
    display: flex;
    justify-content: flex-end;
}

.contact-form button {
    width: 100px;
    height: 30px;

    background-color: #7245b6;
    color: #ffffff;

    border: 0;
    outline: none;

    text-transform: uppercase;
}

.contact-form button:hover {
    background-color: #522e88;
}

/* ---------------- Footer ----------------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #2c2235;
    color: #ffffff;

    padding: 20px;

    border-top: 3px solid #9f6eea;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22pt;

    margin-left: 10px;
    margin-right: 10px;
}
