html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;

    margin: 0;

    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 2;

    background-color: #2c2235;
    color: #ffffff;
    border-bottom: 3px solid #9f6eea;

    padding: 10px 20px;

    text-transform: uppercase;
}

.name {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 1;

    font-size: 18pt;
    font-weight: 500;
}

.nav-links {
    display: flex;
    flex-basis: 50%;
    flex-shrink: 1;
    justify-content: space-around;

    list-style: none;
}

.nav-link {
    color: #ffffff;
    
    font-size: 12pt;
    text-decoration: none;
}

.nav-link:hover {
    color: #9f6eea;
}

.body {
    padding-left: 5%;
    padding-right: 5%;
}

.page-section {
    position: relative;
    width: 100%;
}

.page-section::after {
    content: ' ';

    position: absolute;
    left: calc(50% - 125px);
    width: 250px;

    border-bottom: 3px solid #9f6eea
}

.header {
    color: #453e4e;
    
    font-size: 26pt;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;

    text-shadow: -1px 1px #9f6eea;
    
    padding-bottom: 40px;
    padding-top: 40px;
}

.page-section#about {
    margin-top: 80px;
}

.desktop-about-wrap, .mobile-about-wrap, .projects-wrap, .experiences-wrap, .contact-wrap{
    display: flex;
    margin-bottom: 40px;
}

/* ---------------- About Section ----------------------*/

.desktop-about-wrap, .mobile-about-wrap {
    align-items: center;
    justify-content: space-between;
}

.mobile-about-wrap {
    display: none;
}

.traits, .small-traits {
    display: flex;
    justify-content: center;
    flex-direction: column;

    flex-basis: 20%;
}

.small-traits {
    display: none;
}

.trait {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;

    margin-bottom: 10px;
    margin-top: 10px;
}

.hex-wrap{
    text-align: center;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.hexagon{
    background-color: #9f6eea;
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
}

.hexagon::before{
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
}

.hexagon::after{
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
}

.trait-icon {
    position: absolute;
    top: calc(50% - 22.5px);
    left: 0;
    right: 0;

    z-index: 1;

    font-size: 34pt;
    color: #ffffff;
}

.trait-title {
    color: #453e4e;
    font-size: 18pt;
    text-align: center;
    font-weight: 700;

    margin-bottom: 5px;
}

.trait-desc {
    width: 250px;
    text-align: center;
}

.profile-wrap {
    display: flex;

    flex-basis: 40%;
}

.profile-picture {
    height: 250px;
    width: 250px;
    margin-right: 20px;

    background-image: url(images/wolf.jpg);
    background-position: center center;
    background-size: cover;

    box-shadow: -3px 3px #9f6eea;

}

.blurb-wrap {
    margin: 20px;
}

.blurb-title {
    color: #453e4e;
    font-size: 18pt;
    font-weight: 700;
}

.blurb {
    margin-top: 10px;

    text-align: justify;

    width: 350px;
}

.skills, .mobile-skills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 40%;
    flex-shrink: 0;
}

.mobile-skills {
    display: none;
}

.skill {
    display: flex;
    flex-basis: 11%;

    background-color: #f8f5fa;

    margin-bottom: 15px;
}

.skill-name {
    flex-basis: 20%;
    flex-shrink: 0;

    background-color: #9f6eea;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    padding: 5px;
}

.skill-percentage{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: center;

    background-color: #7245b6;
    color: #ffffff;
}

.skill-percentage span {
    flex-basis: 100%;
    
    text-align: left;
    
    padding-left: 10px;
}

.skill-fill-bar {
    flex-basis: 50%;
    flex-shrink: 0;
    
    background-color: #7245b6;

    position: relative;
}

.skill-fill-bar::after{
    content: ' ';

    position: absolute;
    left: -2px;
    width: 100%;
    height: 95%;

    background-color: #7245b6;
}

#skill-java { flex-basis: 60%; }
#skill-python { flex-basis: 50%; }
#skill-html { flex-basis: 60%; }
#skill-css { flex-basis: 50%; }
#skill-js { flex-basis: 40%; }
#skill-react { flex-basis: 30%; }
#skill-node { flex-basis: 30%; }
#skill-ui { flex-basis: 20%; }
#skill-ps { flex-basis: 20%; }

/* ---------------- Project Section ----------------------*/

.projects-wrap {
    flex-direction: column;
}

.project-card {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;    

    background-color: #f8f5fa;

    box-shadow: -3px 3px #9f6eea;
}

.project-thumbnail {
    flex-basis: 25%;
    flex-shrink: 0;

    height: 270px;

    background-image: url(images/lion.jpg);
    background-position: center center;
    background-size: cover;
}

.project-desc-wrap {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-shrink: 1;

    margin: 10px;
}

.project-name {
    color: #453e4e;
    font-size: 20pt;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.project-description {
    margin: 10px;
    flex-basis: 100%;
}

.project-skills {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex-grow: 0;
    justify-content: space-evenly;
    align-items: center;

    margin: 10px;

    list-style: none;
}

.project-skill {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.project-skill-large {
    width: 150px;
    height: 150px;
}

.project-skill-med {
    width: 100px;
    height: 100px;
}

.project-skill[skill="java"] {background-image: url(images/java.png);}
.project-skill[skill="html"] {background-image: url(images/html.png);}
.project-skill[skill="css"] {background-image: url(images/css.png);}

.project-links a {
    text-decoration: none;
    font-size: 30pt;

    margin-left: 10px;
    margin-right: 10px;
}

.mobile-project-links {
    display: none;
}
/* ---------------- Experiences Section ----------------------*/

.experiences-wrap {
    display: flex;

    justify-content: space-evenly;
}

.experience-card{
    display: flex;

    background-color: #f8f5fa;
    box-shadow: -3px 3px #9f6eea;

    width: 500px;
}

.experience-thumbnail {
    padding: 10px;

    width: 75px;
    height: 75px;
}

.exp-desc-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience-name {
    font-size: 16pt;
    font-weight: 600;
}

.experience-date {
    font-size: 10pt;
    color: #453e4e;
}

/* ---------------- Contact Section ----------------------*/

.contact-form {
    display: flex;
    flex-direction: column;

    background-color: #f8f5fa;
    box-shadow: -3px 3px #9f6eea;

    padding: 20px;
    margin: 0 auto 40px auto;

    width: 500px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-bottom: 5px;

    background-color: #7245b6;
    color: #ffffff;

    border: 0;
    outline: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #ffffff;
}

.contact-form textarea {
    resize: vertical;
}

.button-wrap {
    display: flex;
    justify-content: flex-end;
}

.contact-form button {
    width: 100px;
    height: 30px;

    background-color: #7245b6;
    color: #ffffff;

    border: 0;
    outline: none;

    text-transform: uppercase;
}

.contact-form button:hover {
    background-color: #522e88;
}

/* ---------------- Footer ----------------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #2c2235;
    color: #ffffff;

    padding: 20px;

    border-top: 3px solid #9f6eea;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22pt;

    margin-left: 10px;
    margin-right: 10px;
}

/* ---------------- Media Queries ----------------------*/

@media(min-width: 2560px) { /* 4K */
    .body {
        font-size: 16pt;
    }

    .name {
        font-size: 24pt;
    }

    /* -------- Nav ----------*/

    .nav-link {
        font-size: 16pt;
    }

    .header {
        font-size: 34pt;
    }

    /* -------- About ----------*/

    .hex-wrap {
        width: 100px;
        height: 100px;
    }

    .trait-title {
        font-size: 22pt;
    }

    .profile-picture {
        width: 400px;
        height: 400px;
    }

    .blurb-title {
        font-size: 22pt;
    }

    /* -------- Projects ----------*/

    .project-name {
        font-size: 24pt;
    }

    .project-skill-large {
        width: 200px;
        height: 200px;
    }

    .project-skill-med {
        width: 125px;
        height: 125px;
    }

    /* -------- Experiences ----------*/

    .experience-card {
        width: 650px;
    }

    .experience-thumbnail {
        width: 100px;
        height: 100px;
    }

    .experience-name {
        font-size: 20pt;
    }

    .experience-date {
        font-size: 12pt;
    }

    /* -------- Contact ----------*/

    .contact-form {
        width: 650px;
    }

    .contact-form input {
        font-size: 16pt;
    }

    .contact-form textarea {
        font-size: 14pt;
    }

    .contact-form button {
        width: 130px;
        height: 50px;

        font-size: 16pt;
    }
}

@media(max-width: 1700px) {
    .skills {
        flex-basis: 30%;
    }
}

@media(max-width: 1440px) {

    .body {
        padding-left: 4%;
        padding-right: 4%;
    }

    /* -------- About ----------*/
    .traits {
        margin-right: 15px;
    }

    .hex-wrap {
        width: 70px;
        height: 70px;
    }

    .trait-icon {
        font-size: 30pt;
    }

    .profile-picture {
        width: 200px;
        height: 200px;

        margin-right: 5px;
    }

    .blurb-wrap {
        margin-left: 5px;
        padding-left: 0;
    }

    .skill-name {
        font-size: 8pt;
    }

    .skill-percentage {
        font-size: 10pt;
    }

    .skill-percentage span {
        padding-left: 2px;
    }

    .skill-fill-bar::after {
        left: -1px;
    }

    /* -------- Experiences ----------*/

    .experience-card {
        width: 350px;
    }
}

@media(max-width: 1300px) {

    /* -------- About ----------*/

    .profile-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blurb-wrap {
        padding: 0;
        margin-top: 10px;
    }

    .blurb-title {
        text-align: center;
    }

    /* -------- Projects ----------*/

    .project-thumbnail {
        height: 235px;
    }

    /* -------- Experiences ----------*/

    .experience-card {
        width: 300px;
    }
}

@media(max-width: 768px) {

    /* -------- About ----------*/

    .desktop-about-wrap {
        flex-direction: column;
        display: none;
    }

    .mobile-about-wrap {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-evenly;
    }

    .mobile-skills {
        display: flex;
    }

    .profile-picture {
        margin-bottom: 20px;
    }

    .blurb-wrap {
        margin-bottom: 20px;
    }

    .skills {
        width: 80%;
    }

    .skill-name {
        font-size: initial;
    }

    .skill-percentage {
        font-size: initial;
    }

    /* -------- Projects ----------*/

    .project-thumbnail {
        height: 175px;
        width: 175px;
    }

    .project-desc-wrap {
        margin: 0;
    }

    .project-name {
        font-size: 20pt;
    }

    .project-description {
        font-size: 11pt;
    }

    .project-skills {
        margin: 0;
        padding-left: 10px; 
    }

    .project-skill-large {
        height: 100px;
        width: 100px;
    }

    .project-skill-med {
        height: 75px;
        width: 75px;
    }

    /* -------- Experiences ----------*/

    .experiences-wrap {
        flex-direction: column;
        align-items: center;
    }

    .experience-card {
        width: 500px;

        margin: 20px;
    }

    /* -------- Contact ----------*/

    .contact-form button {
        width: 125px;
        height: 45px;
    }
}

@media(max-width: 675px) {
    .name {
        font-size: 16pt;
    }
    
    .skill-name {
        flex-basis: 30%;
    }

    .skill-fill-bar {
        flex-basis: 40%;
    }

    #skill-java { flex-basis: 50%; }
    #skill-python { flex-basis: 40%; }
    #skill-html { flex-basis: 50%; }
    #skill-css { flex-basis: 40%; }
    #skill-js { flex-basis: 30%; }
    #skill-react { flex-basis: 20%; }
    #skill-node { flex-basis: 20%; }
    #skill-ui { flex-basis: 10%; }
    #skill-ps { flex-basis: 10%; }

    .project-name {
        font-size: 16pt;
    }

    .project-description {
        font-size: 10pt;
    }
}

@media(max-width: 625px) {
    
    .body {
        padding: 10px;
    }
    
    /* -------- About ----------*/

    .mobile-about-wrap {
        justify-content: space-evenly;
    }
    
    .trait-title {
        font-size: 14pt;
    }

    .trait-desc {
        display: none;
    }

    .blurb {
        width: 250px;
    }

    /* -------- Projects ----------*/

    .project-card {
        flex-direction: column;
        height: auto;
        width: 70%;
        margin: 20px auto;
    }

    .project-thumbnail {
        width: 100%;
        flex-basis: auto;
    }

    .project-desc-wrap {
        flex-shrink: 1;
    }

    .project-links {
        display: none;
    }

    .project-skills {
        flex-direction: row;
    }

    .mobile-project-links {
        display: block;

        text-decoration: none;
        font-size: 22pt;

        margin: 10px auto;
    }

    /* -------- Experiences ----------*/

    .experience-card {
        width: 100%;
    }

    /* -------- Contact ----------*/

    .contact-form {
        width: 90%;
    }
}

@media(max-width: 375px) {
    .traits {
        display: none;
    }

    .small-traits {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
